Package: cc.forcequit.stasis.lite
Name: Stasis Lite
Version: 1.0.1
Architecture: appletvos-arm64
Description: Simple script to disable OTA software updates on any tvOS version. Reboots after install.
Maintainer: Taj C (forcequit)
Author: Taj C (forcequit)
Section: Scripts
Depends: firmware (>= 9.0)
Icon: https://raw.githubusercontent.com/forcequitOS/etaTV/main/assets/icons/StasisLiteIcon256.png
Conflicts: cc.forcequit.stasis